<section id="edit-profile-page">
    <div class="editor-placeholder">
        <div class="profile-title">
            <h1>Personalize Your Profile</h1>
        </div>

        <div class="profile-subtitle">
            Customize your avatar and review your personal information
        </div>

        <form id="edit-profile">
            <div class="profile-photos-container">
                <ul>
                    <li>
                        first
                    </li>
                    <li>
                        first
                    </li>
                    <li>
                        first
                    </li>
                    <li>
                        last
                    </li>
                </ul>
            </div>

            <div class="profile-name-container">
                name
            </div>

            <div class="btn save-profile">
                <button type="submit">SAVE PROFILE</button>
            </div>
        </form>
    </div>
    
</section>

