<section id="edit-profile-page">
    <div class="editor-placeholder">
        <div class="profile-title">
            <h1>Personalize Your Profile</h1>
        </div>

        <div class="profile-subtitle">
            Customize your avatar and review your personal information
        </div>

        <div class="form-profile-list">
            <div class="default-pfp" id="form-img-user" onclick="selectImage(this)">
                <img src="/static/images/user.png" alt="Default User Profile">
            </div>
            <div class="default-pfp" id="form-img-boy" onclick="selectImage(this)">
                <img src="/static/images/boy.png" alt="Default Boy Profile">
            </div>
            <div class="default-pfp" id="form-img-girl" onclick="selectImage(this)">
                <img src="/static/images/girl.png" alt="Default Girl Profile">
            </div>
            <div class="custom-pfp" id="img-upload-btn">
                <input type="file" id="fileInput" onchange="selectCustomImage(this)">
                <i id="upload-icon" class="fa fa-solid fa-plus"></i>
                <img src="" id="customImage" alt="Custom Profile">
            </div>
        </div>

        <form id="edit-profile-form">
            <input type="hidden" id="selected-image" name="selectedImage" value="user">

            <div class="profile-name-container">
                <input type="text" id="edited-name" name="editedName" placeholder="name">
            </div>

            <div id="edit-name-feedback"></div>

            <div class="save-profile-btn">
                <button type="submit" id="save-profile-btn">
                    SAVE PROFILE
                </button>
            </div>
        </form>
    </div>
    
</section>

<section id="bot-sec">
    {{!-- Menu Bar --}}
    <div id="menu-bar"> 
        <a href="/calendar"><div class="menu-item center" id="calendar"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960" fill="rgb(31, 31, 30)"><path d="M480-400q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240ZM186.666-80q-27 0-46.833-19.833T120-146.666v-600.001q0-27 19.833-46.833 19.833-19.834 46.833-19.834h56.667V-880h70v66.666h333.334V-880h70v66.666h56.667q27 0 46.833 19.834Q840-773.667 840-746.667v600.001q0 27-19.833 46.833T773.334-80H186.666Zm0-66.666h586.668v-420.001H186.666v420.001Z"/></svg></div></a>
        <a href="/"><div class="menu-item center" id="homepage"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="rgb(31, 31, 30)"><path d="M186.666-80q-27 0-46.833-19.833T120-146.666v-513.335q0-26.999 19.833-46.833 19.833-19.833 46.833-19.833h100.001q0-80.333 54.833-136.833T476.667-920q80.333 0 138.5 56.5 58.166 56.5 58.166 136.833h100.001q27 0 46.833 19.833Q840-687 840-660.001v513.335q0 27-19.833 46.833T773.334-80H186.666ZM480-420.001q80.333 0 138.5-58.166 58.167-58.167 58.167-138.5H610q0 53.333-38.333 91.667-38.334 38.333-91.667 38.333T388.333-525Q350-563.334 350-616.667h-66.667q0 80.333 58.167 138.5 58.167 58.166 138.5 58.166ZM353.333-726.667h253.334q0-53.333-36.667-90t-90-36.667q-53.333 0-90 36.667t-36.667 90Z"/></svg></div></a>
        <a href="/profile"><div class="menu-item center" id="profile" style="background-color: var(--main-orange); width: 60%; border-radius: 10px;"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960" fill="rgb(31, 31, 30)"><path d="M226-262q59-39.666 121-60.833T480-344q71 0 133.333 21.167Q675.667-301.666 734.667-262q41-49.667 59.833-103.667 18.834-54 18.834-114.333 0-141-96.167-237.167T480-813.334q-141 0-237.167 96.167T146.666-480q0 60.333 19.167 114.333T226-262Zm253.876-184.667q-58.209 0-98.043-39.957Q342-526.581 342-584.791q0-58.209 39.957-98.042 39.958-39.834 98.167-39.834t98.043 39.958Q618-642.752 618-584.543q0 58.21-39.957 98.043-39.958 39.833-98.167 39.833ZM479.73-80q-83.097 0-156.183-31.5t-127.15-85.833q-54.064-54.334-85.23-127.227Q80-397.454 80-480.333q0-82.88 31.5-155.773Q143-709 197.333-763q54.334-54 127.227-85.5Q397.454-880 480.333-880q82.88 0 155.773 31.5Q709-817 763-763t85.5 127Q880-563 880-480.177q0 82.822-31.5 155.666T763-197.333Q709-143 635.914-111.5T479.73-80Z"/></svg></div></a>
    </div>
</section>