
<section id="bag-view">
    <div class="bag-view-wrapper">
        {{#each bags}}
        {{> bag this}}
        {{/each}}
    </div>
</section>




{{!-- 
<div class="upper">
    <div class="back"><i class="fa-solid fa-arrow-left fa-xl"></i></div>
    <div class="info">
        <div class ="upper-space"></div>
        <div  class ="lower-space">
            <div class="bag-info-container">
                <div class="bag-info">
                    <h1 class="bag-name bag-info-spacing">Travel</h1>
                    <p class="bag-weight bag-info-spacing">Max: 7kg</p>
                    <div class="bag-sched bag-info-spacing">
                        <div class="bag-day">M</div>
                        <div class="bag-day">T</div>
                        <div class="bag-day">W</div>
                        <div class="bag-day">T</div>
                        <div class="bag-day">F</div>
                        <div class="bag-day">S</div>
                        <div class="bag-day">S</div>
                    </div>
                    <div class="bag-shared .bag-sched">
                        <div class="bag-day">P</div>
                    </div>
                </div>
            </div>
            <div class="bag-icon-container">
                <div class="bag-icon"><img src="image 56.png" alt="bag logo"></div>
                <div class="bag-shadow"></div>
            </div>
        </div>
    </div>
    <div class="edit"></div>
</div>
<div class="lower">
    
</div> --}} 


