
<section id="bag-view">
    <div class="bag-view-wrapper" id="container">
        {{#each bags}}
        <div class="bag-box">
            <div class="bag-icon"><a href="/bag/{{this.encID}}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill={{bagColor}}><path d="M313.333-213.333h333.334v-66.666H313.333v66.666ZM266.666-80q-27 0-46.833-19.833T200-146.666v-340.001q0-87 47.5-156.333Q295-712.334 370-744.667v-22q0-46 32-79.666Q434-880 480-880t78 33.667q32 33.666 32 79.666v22Q665-712.334 712.5-643 760-573.667 760-486.667v340.001q0 27-19.833 46.833T693.334-80H266.666Zm170.001-684q6.999-1.334 20.333-2 13.333-.667 23-.667t23 .667q13.334.666 20.333 2v-2.667q0-19-12.166-32.833Q499-813.334 480-813.334T448.833-799.5q-12.166 13.833-12.166 32.833V-764ZM406-386.667l74-56 74 56-28-91 74-53h-91l-29-96-29 96h-91l74 53-28 91Z"/></svg></a></div>
            <div class="bag-info-list">
                <a href="/bag/{{this.encID}}"><div class="bag-name">{{this.bagName}}</div></a>
                <div class="bag-info-list2">
                <div class="baginfolist-item"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" id="info-item"><path d="M450.001-290.001h59.998V-520h-59.998v229.999ZM480-588.461q13.731 0 23.019-9.288 9.288-9.288 9.288-23.019 0-13.73-9.288-23.019-9.288-9.288-23.019-9.288-13.731 0-23.019 9.288-9.288 9.289-9.288 23.019 0 13.731 9.288 23.019 9.288 9.288 23.019 9.288Zm.067 488.46q-78.836 0-148.204-29.92-69.369-29.92-120.682-81.21-51.314-51.291-81.247-120.629-29.933-69.337-29.933-148.173t29.92-148.204q29.92-69.369 81.21-120.682 51.291-51.314 120.629-81.247 69.337-29.933 148.173-29.933t148.204 29.92q69.369 29.92 120.682 81.21 51.314 51.291 81.247 120.629 29.933 69.337 29.933 148.173t-29.92 148.204q-29.92 69.369-81.21 120.682-51.291 51.314-120.629 81.247-69.337 29.933-148.173 29.933ZM480-160q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg></div>
                <div class="baginfolist-item"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" id="info-item"><path d="m387.694-100.001-15.231-121.846q-16.077-5.385-32.962-15.077-16.885-9.693-30.193-20.77l-112.846 47.692L104.156-370l97.615-73.769q-1.385-8.923-1.962-17.923-.577-9-.577-17.923 0-8.539.577-17.347.577-8.808 1.962-19.269L104.156-590l92.306-159.229 112.461 47.308q14.462-11.462 30.885-20.962 16.424-9.501 32.27-15.27l15.616-121.846h184.612l15.231 122.231q18 6.538 32.578 15.269 14.577 8.731 29.423 20.578l114-47.308L855.844-590l-99.153 74.922q2.154 9.693 2.346 18.116.192 8.423.192 16.962 0 8.154-.384 16.577-.385 8.423-2.77 19.27L854.46-370l-92.307 159.998-112.615-48.077q-14.846 11.847-30.308 20.962-15.462 9.116-31.693 14.885l-15.231 122.231H387.694ZM440-160h78.615L533-267.154q30.615-8 55.961-22.731 25.346-14.73 48.885-37.884L737.231-286l39.384-68-86.769-65.385q5-15.538 6.808-30.461 1.807-14.923 1.807-30.154 0-15.615-1.807-30.154-1.808-14.538-6.808-29.692L777.385-606 738-674l-100.539 42.385q-20.076-21.462-48.115-37.923-28.039-16.462-56.731-23.308L520-800h-79.385l-13.23 106.769q-30.616 7.231-56.539 22.154-25.923 14.923-49.461 38.462L222-674l-39.385 68L269-541.615q-5 14.23-7 29.615-2 15.385-2 32.385Q260-464 262-449q2 15 6.615 29.615l-86 65.385L222-286l99-42q22.769 23.385 48.692 38.308 25.923 14.923 57.308 22.923L440-160Zm40.461-200.001q49.923 0 84.961-35.038Q600.46-430.078 600.46-480t-35.038-84.961q-35.038-35.038-84.961-35.038-50.537 0-85.268 35.038-34.73 35.039-34.73 84.961t34.73 84.961q34.731 35.038 85.268 35.038ZM480-480Z"/></svg></div>
                <div class="baginfolist-item"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" id="info-item"><path d="M480-492.309q-57.749 0-98.874-41.124-41.125-41.125-41.125-98.874 0-57.75 41.125-98.874 41.125-41.125 98.874-41.125 57.749 0 98.874 41.125 41.125 41.124 41.125 98.874 0 57.749-41.125 98.874-41.125 41.124-98.874 41.124ZM180.001-187.694v-88.922q0-29.384 15.962-54.422 15.961-25.038 42.653-38.5 59.308-29.077 119.654-43.615T480-427.691q61.384 0 121.73 14.538 60.346 14.538 119.654 43.615 26.692 13.462 42.653 38.5 15.962 25.038 15.962 54.422v88.922H180.001ZM240-247.693h480v-28.923q0-12.154-7.039-22.5-7.038-10.346-19.115-16.885-51.692-25.461-105.418-38.577Q534.702-367.693 480-367.693t-108.428 13.115q-53.726 13.116-105.418 38.577-12.077 6.539-19.115 16.885Q240-288.77 240-276.616v28.923Zm240-304.614q33 0 56.5-23.5t23.5-56.5q0-33-23.5-56.5t-56.5-23.5q-33 0-56.5 23.5t-23.5 56.5q0 33 23.5 56.5t56.5 23.5Zm0-80Zm0 384.614Z"/></svg></div>
                </div>
            </div>
            </div>
        
        {{/each}}
    </div>
</section>



{{!-- DIM when 'ADD' button is clicked --}}
{{!-- <div class="add-x-view"></div> --}}

{{!-- BOT SECTION: Add button hovered --}}
{{!-- <section id="bot-sec">

    <div class="extra-option" id="add-x-view-hide">
    <div class="butt-name">
        <div class="option-name">Add to Bag</div>
        <div class="option-name">Add to Bag</div>
        <div class="option-name">Add to Bag</div>
        <div class="option-name">Add to Bag</div>
    </div>
    <div class="butt-list">
        <div class="bot-sec-item"><svg xmlns="http://www.w3.org/2000/svg" class="option-butt" viewBox="0 -960 960 960"><path d="M120-80q-33 0-56.5-23.5T40-160v-440h80v440h680v80H120Zm160-160q-33 0-56.5-23.5T200-320v-440h200v-80q0-33 23.5-56.5T480-920h160q33 0 56.5 23.5T720-840v80h200v440q0 33-23.5 56.5T840-240H280Zm200-520h160v-80H480v80Z"/></svg></div>
        <div class="bot-sec-item"><svg xmlns="http://www.w3.org/2000/svg" class="option-butt" viewBox="0 -960 960 960"><path d="M440-720h80v-80h-80v80Zm40 240q-76 0-145-31.5T200-582v-58q0-33 23.5-56.5T280-720h80v-120q0-17 11.5-28.5T400-880h160q17 0 28.5 11.5T600-840v120h80q33 0 56.5 23.5T760-640v58q-66 39-135 70.5T480-480ZM280-80v-40q-33 0-56.5-23.5T200-200v-292q56 34 115.5 58T440-402v42h80v-42q65-8 124.5-32T760-492v292q0 33-23.5 56.5T680-120v40h-80v-40H360v40h-80Z"/></svg></div>
        <div class="bot-sec-item"></div>
    </div>
    </div>

    <div class="extra-option">
    <div class="butt-name"></div>
    <div class="butt-list">
        <div class="bot-sec-item"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="option-butt"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg></div>
    </div>
    </div>
</section> --}}




{{!-- 
<div class="upper">
    <div class="back"><i class="fa-solid fa-arrow-left fa-xl"></i></div>
    <div class="info">
        <div class ="upper-space"></div>
        <div  class ="lower-space">
            <div class="bag-info-container">
                <div class="bag-info">
                    <h1 class="bag-name bag-info-spacing">Travel</h1>
                    <p class="bag-weight bag-info-spacing">Max: 7kg</p>
                    <div class="bag-sched bag-info-spacing">
                        <div class="bag-day">M</div>
                        <div class="bag-day">T</div>
                        <div class="bag-day">W</div>
                        <div class="bag-day">T</div>
                        <div class="bag-day">F</div>
                        <div class="bag-day">S</div>
                        <div class="bag-day">S</div>
                    </div>
                    <div class="bag-shared .bag-sched">
                        <div class="bag-day">P</div>
                    </div>
                </div>
            </div>
            <div class="bag-icon-container">
                <div class="bag-icon"><img src="image 56.png" alt="bag logo"></div>
                <div class="bag-shadow"></div>
            </div>
        </div>
    </div>
    <div class="edit"></div>
</div>
<div class="lower">
    
</div> --}} 

<section id="bot-sec">
    {{!-- Menu Bar --}}
    <div id="menu-bar"> 
        <a href="#" onclick="comingSoonCalendar()"><div class="menu-item center" id="calendar"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960" fill="rgb(31, 31, 30)"><path d="M480-400q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240ZM186.666-80q-27 0-46.833-19.833T120-146.666v-600.001q0-27 19.833-46.833 19.833-19.834 46.833-19.834h56.667V-880h70v66.666h333.334V-880h70v66.666h56.667q27 0 46.833 19.834Q840-773.667 840-746.667v600.001q0 27-19.833 46.833T773.334-80H186.666Zm0-66.666h586.668v-420.001H186.666v420.001Z"/></svg></div></a>
        <a href="/"><div class="menu-item center" id="homepage" style="background-color: var(--main-orange); width: 60%; border-radius: 10px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="rgb(31, 31, 30)"><path d="M186.666-80q-27 0-46.833-19.833T120-146.666v-513.335q0-26.999 19.833-46.833 19.833-19.833 46.833-19.833h100.001q0-80.333 54.833-136.833T476.667-920q80.333 0 138.5 56.5 58.166 56.5 58.166 136.833h100.001q27 0 46.833 19.833Q840-687 840-660.001v513.335q0 27-19.833 46.833T773.334-80H186.666ZM480-420.001q80.333 0 138.5-58.166 58.167-58.167 58.167-138.5H610q0 53.333-38.333 91.667-38.334 38.333-91.667 38.333T388.333-525Q350-563.334 350-616.667h-66.667q0 80.333 58.167 138.5 58.167 58.166 138.5 58.166ZM353.333-726.667h253.334q0-53.333-36.667-90t-90-36.667q-53.333 0-90 36.667t-36.667 90Z"/></svg></div></a>
        <a href="/profile"><div class="menu-item center" id="profile"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960" fill="rgb(31, 31, 30)"><path d="M226-262q59-39.666 121-60.833T480-344q71 0 133.333 21.167Q675.667-301.666 734.667-262q41-49.667 59.833-103.667 18.834-54 18.834-114.333 0-141-96.167-237.167T480-813.334q-141 0-237.167 96.167T146.666-480q0 60.333 19.167 114.333T226-262Zm253.876-184.667q-58.209 0-98.043-39.957Q342-526.581 342-584.791q0-58.209 39.957-98.042 39.958-39.834 98.167-39.834t98.043 39.958Q618-642.752 618-584.543q0 58.21-39.957 98.043-39.958 39.833-98.167 39.833ZM479.73-80q-83.097 0-156.183-31.5t-127.15-85.833q-54.064-54.334-85.23-127.227Q80-397.454 80-480.333q0-82.88 31.5-155.773Q143-709 197.333-763q54.334-54 127.227-85.5Q397.454-880 480.333-880q82.88 0 155.773 31.5Q709-817 763-763t85.5 127Q880-563 880-480.177q0 82.822-31.5 155.666T763-197.333Q709-143 635.914-111.5T479.73-80Z"/></svg></div></a>
    </div>
</section>
