<section id="profile-page">
    <div class="profile-title">
        <h1>My Profile</h1>
    </div>

    <div class="profile-photo">
        <img src="{{avatar}}" alt="Default Photo">
    </div>

    <div class="profile-details">
        <div class="info name">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M9.63529 0C6.98559 0 4.81765 2.69788 4.81765 6.02206C4.81765 9.34624 6.98559 12.0441 9.63529 12.0441C12.285 12.0441 14.4529 9.34624 14.4529 6.02206C14.4529 2.69788 12.285 0 9.63529 0ZM4.60085 12.0441C2.0475 12.1646 0 14.2602 0 16.8618V19.2706H19.2706V16.8618C19.2706 14.2602 17.2472 12.1646 14.6697 12.0441C13.369 13.5135 11.5864 14.4529 9.63529 14.4529C7.68415 14.4529 5.90162 13.5135 4.60085 12.0441Z" fill="#D9D9D9"/>
            </svg>
            {{name}}
        </div>
        <div class="info email">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M0.457105 0C0.192465 0 0 0.192465 0 0.457105V18.8135C0 19.0781 0.192465 19.2706 0.457105 19.2706H18.8135C19.0781 19.2706 19.2706 19.0781 19.2706 18.8135V0.457105C19.2706 0.192465 19.0781 0 18.8135 0L0.457105 0ZM2.40582 4.81163H16.8407V12.0291H14.4349L12.0291 14.4349H7.21745L4.81163 12.0291H2.40582V4.81163Z" fill="#D9D9D9"/>
            </svg>
            {{email}}
        </div>
        <div class="info password">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M9.63529 0C6.10235 0 3.21176 2.89059 3.21176 6.42353V9.63529H0V22.4824H19.2706V9.63529H16.0588V6.42353C16.0588 2.89059 13.1682 0 9.63529 0ZM9.63529 3.21176C11.4339 3.21176 12.8471 4.62494 12.8471 6.42353V9.63529H6.42353V6.42353C6.42353 4.62494 7.83671 3.21176 9.63529 3.21176Z" fill="#D9D9D9"/>
            </svg>
            ****************
        </div>
    </div>

    <div class="button-container">
        <button class="btn item-gallery" id="item-gallery-btn">
            ITEM GALLERY
        </button>
        <button class="btn edit-profile" id="edit-profile-btn">
            EDIT PROFILE
        </button>
    </div>


    <div class="btn-signout" id="signout-btn">
        sign out
    </div>
</section>

<section id="bot-sec">
    {{!-- Menu Bar --}}
    <div id="menu-bar"> 
        <a href="#" onclick="comingSoonCalendar()"><div class="menu-item center" id="calendar"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960" fill="rgb(31, 31, 30)"><path d="M480-400q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240ZM186.666-80q-27 0-46.833-19.833T120-146.666v-600.001q0-27 19.833-46.833 19.833-19.834 46.833-19.834h56.667V-880h70v66.666h333.334V-880h70v66.666h56.667q27 0 46.833 19.834Q840-773.667 840-746.667v600.001q0 27-19.833 46.833T773.334-80H186.666Zm0-66.666h586.668v-420.001H186.666v420.001Z"/></svg></div></a>
        <a href="/"><div class="menu-item center" id="homepage"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="rgb(31, 31, 30)"><path d="M186.666-80q-27 0-46.833-19.833T120-146.666v-513.335q0-26.999 19.833-46.833 19.833-19.833 46.833-19.833h100.001q0-80.333 54.833-136.833T476.667-920q80.333 0 138.5 56.5 58.166 56.5 58.166 136.833h100.001q27 0 46.833 19.833Q840-687 840-660.001v513.335q0 27-19.833 46.833T773.334-80H186.666ZM480-420.001q80.333 0 138.5-58.166 58.167-58.167 58.167-138.5H610q0 53.333-38.333 91.667-38.334 38.333-91.667 38.333T388.333-525Q350-563.334 350-616.667h-66.667q0 80.333 58.167 138.5 58.167 58.166 138.5 58.166ZM353.333-726.667h253.334q0-53.333-36.667-90t-90-36.667q-53.333 0-90 36.667t-36.667 90Z"/></svg></div></a>
        <a href="/profile"><div class="menu-item center" id="profile" style="background-color: var(--main-orange); width: 60%; border-radius: 10px;"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960" fill="rgb(31, 31, 30)"><path d="M226-262q59-39.666 121-60.833T480-344q71 0 133.333 21.167Q675.667-301.666 734.667-262q41-49.667 59.833-103.667 18.834-54 18.834-114.333 0-141-96.167-237.167T480-813.334q-141 0-237.167 96.167T146.666-480q0 60.333 19.167 114.333T226-262Zm253.876-184.667q-58.209 0-98.043-39.957Q342-526.581 342-584.791q0-58.209 39.957-98.042 39.958-39.834 98.167-39.834t98.043 39.958Q618-642.752 618-584.543q0 58.21-39.957 98.043-39.958 39.833-98.167 39.833ZM479.73-80q-83.097 0-156.183-31.5t-127.15-85.833q-54.064-54.334-85.23-127.227Q80-397.454 80-480.333q0-82.88 31.5-155.773Q143-709 197.333-763q54.334-54 127.227-85.5Q397.454-880 480.333-880q82.88 0 155.773 31.5Q709-817 763-763t85.5 127Q880-563 880-480.177q0 82.822-31.5 155.666T763-197.333Q709-143 635.914-111.5T479.73-80Z"/></svg></div></a>
    </div>
</section>