<section id="profile-page">
    <div class="profile-title">
        <h1>My Profile</h1>
    </div>

    <div class="profile-photo">
        <img src={{defaultImg}} alt="Default Photo">
    </div>

    <div class="profile-details">
        <div class="info name">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M9.63529 0C6.98559 0 4.81765 2.69788 4.81765 6.02206C4.81765 9.34624 6.98559 12.0441 9.63529 12.0441C12.285 12.0441 14.4529 9.34624 14.4529 6.02206C14.4529 2.69788 12.285 0 9.63529 0ZM4.60085 12.0441C2.0475 12.1646 0 14.2602 0 16.8618V19.2706H19.2706V16.8618C19.2706 14.2602 17.2472 12.1646 14.6697 12.0441C13.369 13.5135 11.5864 14.4529 9.63529 14.4529C7.68415 14.4529 5.90162 13.5135 4.60085 12.0441Z" fill="#D9D9D9"/>
            </svg>
            Sherlock
        </div>
        <div class="info email">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M0.457105 0C0.192465 0 0 0.192465 0 0.457105V18.8135C0 19.0781 0.192465 19.2706 0.457105 19.2706H18.8135C19.0781 19.2706 19.2706 19.0781 19.2706 18.8135V0.457105C19.2706 0.192465 19.0781 0 18.8135 0L0.457105 0ZM2.40582 4.81163H16.8407V12.0291H14.4349L12.0291 14.4349H7.21745L4.81163 12.0291H2.40582V4.81163Z" fill="#D9D9D9"/>
            </svg>
            sherlock@email.com
        </div>
        <div class="info password">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M9.63529 0C6.10235 0 3.21176 2.89059 3.21176 6.42353V9.63529H0V22.4824H19.2706V9.63529H16.0588V6.42353C16.0588 2.89059 13.1682 0 9.63529 0ZM9.63529 3.21176C11.4339 3.21176 12.8471 4.62494 12.8471 6.42353V9.63529H6.42353V6.42353C6.42353 4.62494 7.83671 3.21176 9.63529 3.21176Z" fill="#D9D9D9"/>
            </svg>
            ****************
        </div>
    </div>

    <div class="button-container">
        <div class="btn item-gallery">
            <a href="/itemgallery">
                ITEM GALLERY
            </a>
        </div>
        <div class="btn edit-profile">
            <a href="/editProfile">EDIT PROFILE</a>
        </div>
    </div>


    <div class="btn-signout">sign out</div>
</section>