<section id="form-page">
    <div class="register-logo app-logo-placeholder">
        <h1>BagBuddy</h1>
    </div>

    <div class="register form-placeholder">
        <div class="form-header">
            <h1>Create an account</h1>
            <h2>Start packing your journey</h2>
        </div>

        <form class="register-form">
            <p>
                <input type="text" id="register-name" name="register_name" placeholder="name" required>
            </p>
            <p>
                <input type="email" id="register-email" name="register_email" placeholder="email" required>
            </p>
            <p>
                <input type="password" id="register-password" name="register_password" class="form-control" placeholder="password" required>
            </p>
            <p class="submit-btn">
                <input type="submit" value="SIGN UP">
            </p>
        </form>

        {{!-- Create account link --}}
        <div class="login-link">
            <a href="/login">I already have an account</a>
        </div>
    </div>
</section>