<section id="form-page">
    <div class="register-logo app-logo-placeholder">
        <h1>BagBuddy</h1>
    </div>

    <div class="register form-placeholder">
        <div class="form-header">
            <h1>Create an account</h1>
            <h2>Start packing your journey</h2>
        </div>

        <form action="/register" method="POST" id="registration-form" class="register-form" >
            <div>
                <input type="text" id="register-name" name="registerName" placeholder="name">
            </div>
            
            <div id="register-name-feedback"></div>

            <div>
                <input type="email" id="register-email" name="registerEmail" placeholder="email">
            </div>
            
            <div id="register-email-feedback"></div>

            <div>
                <input type="password" id="register-password" name="registerPassword" class="form-control" placeholder="password" minlength="7">
            </div>
            
            <div id="register-password-feedback"></div>

            <div>
                <input type="password" id="register-confirm-password" name="registerConfirmPassword" class="form-control" placeholder="confirm password" minlength="7">
            </div>

            <div id="register-confirm-password-feedback"></div>

            <div class="submit-btn">
                <button type="submit" id="register-submit-btn">
                    SIGN UP
                </button>
            </div>
        </form>

        <div class="login-link">
            <a href="/login">I already have an account</a>
        </div>
    </div>
</section>