:root {
  --gray-bg: #d9d9d9;
}

.bag-form {
  display: block;
  height: 100%;
  background-color: var(--main-blue);
  box-sizing: border-box;
  /* overflow: hidden; */
}

.form-wrapper {
  width: 100%;
  height: 92%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-bag-info-list {
  width: 100%;
  flex-direction: column;
  /* background-color: #a43627; */
}

.info-list {
  padding: 0.55rem;
}

#form-add-title {
  /* background-color: yellow; */
}

#form-add-desc {
  /* background-color: blueviolet; */
}

.form-baglist {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  /* background-color: gray; */
}

.form-bag-icon {
  min-width: 3.5rem;
  min-height: 3.5rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: var(--gray-bg);
  margin: 0.25rem;
}

.custom-color {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-bag-icon svg {
  height: 3rem;
}
.custom-color svg {
  position: absolute;
  height: 3rem;
  fill: rgb(118, 114, 114);
  z-index: 99;
  pointer-events: none;
}

.form-bag-icon:hover {
  border: 1px solid var(--main-orange);
}

#form-bag-bg-black {
  fill: #000000;
}
#form-bag-bg-red {
  fill: #a43627;
}
#form-bag-bg-green {
  fill: #1f4f24;
}

#form-choose-color {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: fit-content;
  height: fit-content;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: transparent;
  margin: 0.25rem;
  border: none;
}

#form-choose-color::-webkit-color-swatch:hover {
  border: 1.5px solid var(--main-orange);
}
#form-choose-color::-webkit-color-swatch {
  border-color: var(--gray-bg);
  border-radius: 100px;
  width: 3.45rem;
  height: 3.45rem;
  color: white;
}

/* .form-user-icon-add {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0.5px solid rgba(82, 79, 79, 0.5);
  font-size: 3em;
  font-weight: 100;
} */

/* .form-user-icon-add svg {
  fill: gray;
  height: 1.5rem;
} */

.form-add-bag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
  width: 100%;
  /* height: fit-content; */
  padding: 1% 0%;
  /* flex-grow: 0.25; */
}

#addbagForm {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  width: 50%;
  /* background-color: brown; */
}

.first-page {
  width: 100%;
  position: relative;

  box-sizing: border-box;
  /* display: none; */
}

.second-page {
  width: 100%;
  display: none;
}

.input {
  width: 100%;
  text-align: left;
  /* background-color: red; */
  margin-top: calc(3% + 0.65vw);
}

#addbagForm input {
  padding: 0.65rem;
  margin-top: 1%;
  width: 100%;
  border-radius: 10px;
  border-style: none;
  border: 0.5px solid rgb(59, 57, 57, 0.5);
  background-color: transparent;
}

#addbagForm button[type="submit"] {
  margin: 2rem 0rem 1rem 0rem;
  padding: 0.45rem;
  border-radius: 8px;
  border-style: none;
  width: 70%;
  background-color: var(--main-blue);
  color: white;
  font-weight: 700;
  cursor: pointer;
}

#addbagForm label {
  width: 100%;
  text-align: left;
  font-size: clamp(0.65em, 1vw, 0.75em);
  color: gray;
  /* background-color: brown; */
}
.cancel-btn {
  padding: 0.45rem;
  border-radius: 8px;
  border-style: none;
  width: 35%;
  background-color: var(--main-blue);
  font-weight: 700;
  cursor: pointer;
  color: white;
}

#next-btn {
  margin: 9% 0% 5% 0%;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}
