.dItem-section {
  height: fit-content;
  width: fit-content;
  /* background-color: antiquewhite; */
  margin: 0rem 0.5rem;
}

.dItem-wrapper {
  height: calc(2.65rem + 0.35vw);
  width: calc(4.5rem + 0.5vw);
  border-radius: 8px;
  background-color: #b0d5d6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dItem-name {
  font-size: 0.75em;
  width: 100%;
  /* background-color: aqua; */
}

.dItem-weight {
  font-size: 0.55em;
}

.quant-item {
  font-size: 0.75em;
  width: 100%;
  padding: 0.1rem 0.2rem;
  color: #5f5f5f;
}
