:root {
    --mainfont: "Karla", sans-serif;
    --white-bg: #FFFFFF;
    --main-blue: #048895;
    --light-blue: #87C1C2;
    --light-peach: #FBEAE2;
    --main-orange: #EC7324;
    --main-red: #A43627;
    --black: #000000;
    --grey: #858585;
    --blue-green: #1C445B;
}

* {
    box-sizing: border-box;
}

#edit-profile-page {
    height: 100%;
    width: 100%;
    background-color: var(--main-blue);
    text-align: center;
    align-items: center;
}

.editor-placeholder {
    height: 83%;
    width: 100%;
    position: absolute;
    bottom: 3rem;
    border-radius: 2rem 2rem 0rem 0rem;
    background-color: var(--white-bg);
    padding: 1.5rem 0rem 0rem 0rem;
    text-align: center;
}

.profile-title {
    text-align: center;
    padding: 0.5rem 1rem 0rem 1rem;
    /* background-color: #000000; */
}

.profile-title h1 {
    color: var(--main-orange);
    font-family: var(--mainfont);
    font-size: 2.5rem;
    font-style: italic;
}

.profile-subtitle {
    text-align: center;
    color: var(--main-blue);
    font-weight: 500;
    padding: 0rem 3rem 0rem 3rem;  
}


.form-profile-list {
    margin: 1rem 0rem 3rem 0rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
}


.default-pfp {
    height: 5rem;
    width: 5rem;
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 50%;
    border-color: var(--grey);
    cursor: pointer;
}

.default-pfp:hover {
    border-color: var(--light-blue);
}

.default-pfp img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.custom-pfp {
    height: 5rem;
    width: 5rem;
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 50%;
    border-color: var(--grey);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
}

.custom-pfp:hover {
    border-color: var(--light-blue);
}

#fileInput {
    display: none;
}

.custom-pfp .fa {
    display: block;
    font-size: 2rem;
    color: var(--grey);
    font-weight: lighter;
}

.custom-pfp:hover .fa {
    color: var(--light-blue);
}

#customImage {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: none;
}


#edit-profile-form #edited-name {
    font-family: var(--mainfont);
    font-size: 1rem;
    outline: 0;
    background: var(--white-bg);
    width: 15rem;
    height: 2.5rem;
    border: 1px solid var(--grey);
    border-radius: 10px;
    padding: 0rem 1rem 0rem 1rem;
    box-sizing: border-box;
}

#edit-name-feedback {
    font-style: italic;
    display: block;
}

#save-profile-btn {
    font-family: var(--mainfont);
    font-size: 1rem;
    outline: 0;
    background-color: var(--main-blue);
    height: 2.5rem;
    width: 13rem;
    border: 1px solid var(--grey);
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    font-family: var(--mainfont);
    font-weight: bold;
    color: var(--white-bg);
    margin-top: 5rem;
}

#save-profile-btn:hover {
    cursor: pointer;
    color: var(--main-blue);
    background-color: var(--white-bg);
}