:root {
    --mainfont: "Karla", sans-serif;
    --white-bg: #FFFFFF;
    --main-blue: #048895;
    --light-blue: #87C1C2;
    --light-peach: #FBEAE2;
    --main-orange: #EC7324;
    --main-red: #A43627;
    --black: #000000;
    --grey: #858585;
    --blue-green: #1C445B;
}

* {
    box-sizing: border-box;
}

#edit-profile-page {
    height: 100%;
    width: 100%;
    background-color: var(--main-blue);
    text-align: center;
    align-items: center;
}

.editor-placeholder {
    height: 83%;
    width: 100%;
    position: absolute;
    bottom: 3rem;
    border-radius: 2rem 2rem 0rem 0rem;
    background-color: var(--white-bg);
    padding: 1.5rem 0rem 0rem 0rem;
    text-align: center;
}

.profile-title {
    text-align: center;
    padding: 0.5rem 1rem 0rem 1rem;
    /* background-color: #000000; */
}

.profile-title h1 {
    color: var(--main-orange);
    font-family: var(--mainfont);
    font-size: 2.5rem;
    font-style: italic;
}

.profile-subtitle {
    text-align: center;
    color: var(--main-blue);
    font-weight: 500;
    padding: 0rem 3rem 0rem 3rem;  
}

.profile-photos-container {
    margin: 3rem 0rem 3rem 0rem;
}

.profile-photos-container ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.profile-photos-container ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.default-pfp {
    height: 5rem;
    width: 5rem;
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 50%;
    border-color: var(--grey);
}

#upload-btn {
    /* border-style: solid;
    border-width: 0.2rem;
    border-radius: 50%;
    border-color: var(--grey); */
    cursor: pointer; /* To indicate it's clickable */
}

#upload-btn path, #upload-btn line {
    fill: none; /* Ensure the path is transparent */
    stroke: var(--grey); 
    /* Use the same color as the border */
}

#edit-profile-form #edit-name {
    font-family: var(--mainfont);
    font-size: 1rem;
    outline: 0;
    background: var(--white-bg);
    width: 15rem;
    height: 2.5rem;
    border: 1px solid var(--grey);
    border-radius: 10px;
    padding: 0rem 1rem 0rem 1rem;
    box-sizing: border-box;
}

#edit-profile-btn {
    font-family: var(--mainfont);
    font-size: 1rem;
    outline: 0;
    background-color: var(--main-blue);
    height: 2.5rem;
    width: 13rem;
    border: 1px solid var(--grey);
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    font-family: var(--mainfont);
    font-weight: bold;
    color: var(--white-bg);
    margin-top: 5rem;
}

.save-profile-btn:hover {
    cursor: pointer;
}

#edit-profile-btn {
    background: var(--main-blue);
    font-weight: bold;
    color: var(--white-bg);
}

#edit-profile-btn:hover {
    cursor: pointer;
}