#bag-view {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  /* background-color: red; */
  padding-bottom: calc(2.55rem + 2.25vw);
  /* add calc(xx) size of menu bar at the bottom to see bag boxes/ it does not get covered by menu bar */
}

.bag-view-wrapper {
  display: grid;
  grid-template-rows: repeat(auto, 20%);
  grid-template-columns: repeat(3, 30%);
  gap: 0px;
  justify-content: center;
  align-items: center;
}

/* * INSIDE BAG */

#inside-bag {
  background-color: #e0e0e0;
  height: 100%;
  overflow-y: hidden;
}

.confirm-delete {
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgb(13, 13, 13, 0.9);
  z-index: 145;
}

.confirm-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  height: 6rem;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}

.confirm-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.confirm-btn-opt:hover {
  cursor: pointer;
  color: var(--main-orange);
}

.upper {
  height: 35%;
  width: 100%;
  background-color: var(--main-blue);
  border-bottom-left-radius: 5rem;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 10% 80% 10%;
  overflow: hidden;
}

.upper a {
  text-decoration: none;
  color: transparent;
}

.back {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 2rem 1rem 0rem 1rem;
  border-bottom-left-radius: 0rem;
  /* background-color: #6b6363; */
}

.back i {
  fill: white;
}

i {
  padding: 0rem;
  margin: 0rem;
  width: min-content;
}

.info {
  display: flex;
  flex-direction: column;
  z-index: 100;
  /* background-color: #10296d; */
}

.edit {
  /* background-color: lightcoral; */
  display: flex;
  justify-content: center;
  padding: 1rem 0.5rem;
  z-index: 500;
}

.edit-option-box {
  display: none;
  position: absolute;
  height: fit-content;
  width: 4.5rem;
  padding: 0.65rem;
  margin-right: 3.5rem;
  border-radius: 10px;
  background-color: rgb(233, 228, 228);
  font-size: calc(0.45em + 0.5vw);
}

.edit-option-box a {
  color: black;
  text-decoration: none;
}

.edit-set-btn {
  color: rgb(1, 1, 1);
  padding: 2px 0px;
  z-index: 101;
  cursor: pointer;
}

.edit-set-btn:hover {
  color: var(--main-orange);
}

.inside-bag-edit {
  height: 1rem;
  width: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #757272;
  border-radius: 100px;
  z-index: 101;
}

.inside-bag-edit svg {
  height: 0.75rem;
  width: 0.75rem;
  fill: white;
}

.upper-space {
  background-color: transparent;
  height: 18%;
}

.lower-space {
  margin: 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 85%;
  width: 100%;
  display: grid;
  grid-template-rows: 1 100px;
  grid-template-columns: 5% 55% 40% 5%;
  /* background-color: rgb(172, 36, 36); */
  justify-content: center;
  justify-items: center;
  /* align-items: center; */
}

.bag-info-container {
  justify-items: end;
  width: fit-content;
  display: flex;
  /* background-color: green; */
  justify-content: center;
  box-sizing: border-box;
}

.bag-info {
  display: grid;
  grid-template-rows: repeat(2, minmax(1vw, 3rem));
  grid-template-columns: repeat(1, auto);
  /* background-color: #7a370b; */
}

.inside-bag-name {
  font-size: calc(1.45em + 1vw);
  color: #ffbd92;
  width: fit-content;
  height: fit-content;
  /* background-color: antiquewhite; */
}

.bag-info-inner {
  padding: 0rem 0.5rem;
  /* background-color: aquamarine; */
}

.inside-bag-weight,
.inside-bag-sched1,
.inside-bag-desc {
  display: flex;
  align-items: center;
  font-size: calc(0.45em + 0.45vw);
  font-weight: 50;
  width: fit-content;
  color: white;
  /* background-color: #ffbd92; */
}

.inside-bag-weight svg,
.inside-bag-sched1 svg {
  height: 1rem;
  fill: white;
  width: fit-content;
}

.inside-bag-weight p,
.inside-bag-sched1 p {
  padding: 0rem 0.25rem;
}

/* .inside-bag-sched {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
} */

.inside-bag-desc {
  padding: 0.85rem 0rem;
  font-size: 0.45em;
  max-width: 90%;
  word-break: keep-all;
  /* background-color: #ffbd92; */
}

.inside-bag-round {
  background-color: transparent;
  background-color: #dcd3d3f2;
  border-radius: 100px;
  font-size: 0.75em;
  padding: 1px;
  width: 1rem;
  height: 1rem;
  margin: 0rem 0.25rem 0rem 0rem;
}

.inside-bag-shared {
  display: flex;
}

.inside-bag-shared img {
  height: 0.65rem;
  width: 0.65rem;
}

#shared-more {
  fill: white;
  background-color: orange;
}

#shared-more svg {
  height: 0.62rem;
  width: 0.62rem;
}

.bag-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: fit-content;
  /* background-color: aquamarine; */
}

.inside-bag-icon {
  height: 8rem;
  width: 8rem;
  /* background-color: antiquewhite; */
}

.bag-shadow {
  background-color: rgb(37, 56, 57, 0.5);
  width: 60%;
  height: 0.6rem;
  filter: blur(3px);
  border-radius: 50%;
}
.lower {
  position: relative;
  gap: 0.85rem;
  justify-items: center;
  height: 70%;
  overflow-y: scroll;
  display: grid;
  grid-template-rows: repeat(auto-fit, 50px);
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  background-color: #e0e0e0;
  padding: 1.5rem 2rem 10rem 2rem;
}

.scroll-cont {
  height: 20rem;
  background-color: blue;
  overflow: scroll;
}

.s-cont {
  height: 50rem;
  background-color: aqua;
}
